@media (min-width: 1024px) and (max-width: 2500px) {
  .anime__card.column--card {
    flex-direction: row;
  }
  .anime__card.column--card .anime__card--info {
    height: 100%;
    width: 100%;
    justify-content: start;
    gap: 10px;
  }
  .anime__card.column--card .anime__card--details {
    margin-top: auto;
    margin-bottom: 10px;
  }
  .anime__card.column--card .anime__card--img {
    width: 50%;
  }
}
